@model Employee_ASPCore_Application.Models.Employee
@using (Html.BeginForm("Edittabn", "EMPAllDetails", new { id = Model.eid }, FormMethod.Post))

{
    @Html.HiddenFor(model => model.eid)
    <div class="form-group">
        <label class="control-label">Employee Name</label>
        <input asp-for="ename" class="form-control" />
    </div>
    <div class="form-group">
        <label class="control-label">Employee Age</label>
        <input asp-for="eage" class="form-control" />
    </div>
    <div class="form-group">
        <input type="submit" value="Update" class="btn btn-success" />
    </div>
}
<div>
    @Html.ActionLink("Back to List", "AllProfile_page", "EMPAllDetails")
</div>